layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane split_direction="vertical" {
        pane size="60%" {
            pane stacked=true size="70%" {
                pane command="fish" {
                    args "-ic" "nvim"
                }
                pane command="fish" focus=true {
                    args "-ic" "claude"
                }
            }
            pane size="30%"
        }
        pane size="40%" command="fish" {
            args "-ic" "lazygit -ucf (lazygit -cd)/config.yml,(lazygit -cd)/agent-coding.yml"
        }
    }
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
}
